* {
   user-select: none
}
a.logoholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_logo {
    overflow:auto;
    filter: grayscale(1);
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 15em;
}
.carousel article {
    white-space:pre-wrap;
    vertical-align:top;
}
.carousel .reel {
    padding: 0 0.5em 0 0.5em;
    justify-content: center;
    align-items: center;
    justify-items: center;
    white-space: nowrap;
    vertical-align: top;
}




