img.image_logo {
    filter: grayscale(1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width:15em;
}
a.logoholder{
    display:inline-table;
}