* {
    user-select: none
}
a.logoholder {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
.carousel .reel {
    padding: 0 0.5em 0 0.5em;
    justify-content: center;
    align-items: center;
    justify-items: center;
    white-space:nowrap;
    vertical-align:top;
}
img.image_logo {
    filter: grayscale(1);
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 15em;
}

.boxx {
    width: 155%;
    height: 500px;
    background-color: black;
    position: fixed;
    top: 0;
    left: -55%;
    padding-left: 55%;
    z-index: 5;
    transition: all .5s ease-in;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    overflow: hidden;
}

    .boxx.asd {
        transform: rotate(0deg);
        transform-origin: 0% 0%;
    }

    .boxx > li {
        #padding-top: 0.5em;
        display: block;
        #border-bottom: 1px solid;
        #border-color: #000;
        #display: box;
    }

        .boxx > li > * {
            display: inline-block;
            max-width: 100%;
            margin: 14px 28px 14px;
        }

.kuda {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 6px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s;
}

    .kuda:hover {
        text-shadow: 0 0 10px white;
    }









.title {
    color: rgba(139, 180, 216, 0.94);
}

.terminal-bar {
    background-color: #eae8e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    position: relative;
}

.dark-mode {
    background-image: linear-gradient(180deg, #464248 0%, #3b383d 100%);
    border-bottom: 1px solid rgba(66, 66, 66, 0.5);
}

.dark-mode-text {
    color: #bdb9bf !important;
}

.icon-btn {
    border-radius: 50%;
    margin-top: 7px;
    height: 15px;
    width: 15px;
    margin-bottom: 0.5rem;
}

.terminal-bar > div.icon-btn:first-child {
    margin-left: 0.6rem;
}

.terminal-bar > div.icon-btn:not(:first-child) {
    margin-left: 0.5rem;
}

.terminal-bar > div.icon-btn:last-child {
    margin-right: 0.6rem;
}

.close {
    background-color: #fa615c;
}

.max {
    background-color: #3fc950;
}

.min {
    background-color: #ffbd48;
}

.terminal-window {
    background-color: black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 254px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.primary-bg {
    background-color: rgb(23, 42, 69);
}

.terminal-bar-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 500;
}


